@{
    ViewBag.Title = "Contact";
}
<h2>Contact Info.</h2>
<h3>If you would like to contact me for further discussion or comments, you can use the contact methods below.</h3>

<address>
    Woodbury, CT 06798<br />
    <abbr title="HomePhone">H:(203)266-0265</abbr><br />
    <abbr title="CellPhone">C:(203)228-1518</abbr><br />
    <strong>Email:</strong> <a href="mailto:vishulmistry15@gmail.com">Vishulmistry15@gmail.com</a>
</address>